
.wrapper{
    
    background: rgb(93,236,126);
    background: linear-gradient(90deg, rgba(93,236,126,1) 0%, rgba(35,207,231,1) 50%, rgba(255,0,0,1) 100%);
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
   
    width: 40%;
    display: flex;
    background: #fff;
    opacity: 0.7;
    padding: 1%;
    margin: 1%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: gray;
    
}

.cardtext{
    border: 3px solid gray;
    border-radius: 5px;
    padding: 1%;
    font-size: 1.6rem;
    float: right;
  }
  .cardtext p {
      font-size: 1.2rem;
  }
  .card img {
    width: 200px;
  
    border-radius: 5px;
    margin-right: 20px;
  }

  button {
    padding: 1%;
    border: 1px solid black;
    
    background: red;
    color: #fff;
    margin-left: 43%;
}
